### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data that can be stored and accessed electronically. It is designed to efficiently store, retrieve, and manage large amounts of structured or unstructured data.

SQL (Structured Query Language) databases are relational databases that store data in tables with predefined relationships between them. SQL databases are based on a set of rules called ACID (Atomicity, Consistency, Isolation, Durability) that ensure data consistency and integrity. SQL databases use SQL to manage and query the data. Examples of SQL databases include Oracle, MySQL, and Microsoft SQL Server.

NoSQL (Not Only SQL) databases are non-relational databases that do not store data in tables with predefined relationships. NoSQL databases are designed to handle large amounts of unstructured or semi-structured data, and can be more flexible and scalable than SQL databases. NoSQL databases do not follow the ACID rules, but instead focus on other principles such as BASE (Basically Available, Soft state, Eventual consistency). NoSQL databases use various languages to manage and query the data, such as MongoDB that uses a document-oriented approach or Cassandra that uses a column-oriented approach

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL (Structured Query Language) used to define and manage the structure of a database. DDL commands are used to create, modify, and delete database objects such as tables, indexes, and views.

1. __CREATE__: The CREATE command is used to create a new database object.

CREATE TABLE employees (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  salary DECIMAL(10,2)
);

2. __DROP__: The DROP command is used to delete a database object.

DROP TABLE employees;

3. __ALTER__: The ALTER command is used to modify the structure of an existing database object.

ALTER TABLE employees ADD COLUMN department VARCHAR(50);

4. __TRUNCATE__: The TRUNCATE command is used to delete all rows from a table while keeping the structure of the table intact.

TRUNCATE TABLE employees;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a subset of SQL (Structured Query Language) used to manage the data stored in a database. DML commands are used to insert, modify, and delete data in the database tables.

1.  __INSERT__: The INSERT command is used to insert new data into a table.

INSERT INTO employees (id, name, salary, department)
VALUES (1, 'John Doe', 50000, 'Sales');

2. __UPDATE__: The UPDATE command is used to modify existing data in a table.

UPDATE employees SET salary = 60000 WHERE id = 1;

3. __DELETE__: The DELETE command is used to delete data from a table

DELETE FROM employees WHERE id = 1;

### Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL commands are used to query the database tables and retrieve the necessary data

--> The primary DQL command is SELECT.  SELECT is used to retrieve data from one or more tables in a database.

syntax:

SELECT column1, column2, ... FROM table_name WHERE condition;

Example:

SELECT name, salary FROM employees WHERE salary >= 50000;

### Q5. Explain Primary Key and Foreign Key.

__Primary Key__: A Primary Key is a column or set of columns that uniquely identifies each row in a table. It is a unique identifier that is used to enforce data integrity and ensure that there are no duplicate rows in the table. A Primary Key is used to create a relationship between tables in a database, as it can be referenced by other tables as a Foreign Key.

__Foreign Key__: A Foreign Key is a column or set of columns that references a Primary Key in another table. It is used to establish a relationship between tables in a database, allowing data to be linked and related across multiple tables. A Foreign Key is used to enforce referential integrity, which ensures that data in related tables is consistent.

In summary, a Primary Key is a unique identifier for each row in a table that is used to enforce data integrity and create relationships between tables, while a Foreign Key is a column that references a Primary Key in another table, allowing data to be linked and related across multiple tables.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect to MySQL from Python, we can use the mysql-connector-python module, which is a Python driver for MySQL.

In [ ]:
import mysql.connector

# Establish a connection to the database
db = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Create a cursor object to execute SQL queries
cursor = db.cursor()

# Execute a SQL query
cursor.execute("SELECT * FROM yourtable")

# Fetch the result of the query
result = cursor.fetchall()

# Print the result
for row in result:
    print(row)

# Close the database connection
db.close()

we create a 'cursor' object using the 'cursor()' method of the database object. The cursor object is used to execute SQL queries on the database.

We then use the 'execute()' method of the cursor object to execute a SQL query. In this example, we are selecting all the records from the yourtable table.

We fetch the result of the query using the 'fetchall()' method of the cursor object. The result is stored in the result variable.

Finally, we loop through the result and print each row.

The 'cursor()' method creates a cursor object, which is used to execute SQL queries on the database. The 'execute()' method is used to execute a SQL query. It takes a SQL query string as a parameter and executes the query on the database.

### Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM: This clause specifies the tables from which the data is retrieved.

JOIN: This clause is used to combine rows from two or more tables based on a related column between them.

WHERE: This clause is used to filter the rows based on a specified condition.

GROUP BY: This clause is used to group the rows based on a specified column or set of columns.

HAVING: This clause is used to filter the groups based on a specified condition.

SELECT: This clause specifies the columns that are returned in the result set.

DISTINCT: This clause is used to remove duplicate rows from the result set.

ORDER BY: This clause is used to sort the result set based on a specified column or set of columns.

LIMIT: This clause is used to limit the number of rows returned in the result set.